@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kdam+Thmor+Pro&family=Monofett&family=Orbitron:wght@400..900&family=Stalinist+One&display=swap');
* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;   
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #242f40;
}
.titulo_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 3rem;
}
.titulo {
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("./recursosUI/titulo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    border: none;
    border-bottom: solid 0.5rem #434ab152;
    border-radius: 0.2rem;
    padding: 0.5rem 2rem;
    text-shadow: #8400ff 0rem 0 1.7rem;
    overflow: hidden;
    
}

.icono_encriptador{
    width: 5rem ;
    height: 5rem;
    align-content: center;
    border-radius: 50%;
    zoom: 100%;
    
    
}
.container_area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45rem;
    gap: 10rem;
}

.container_encriptar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40rem;
    height: 45rem;
}

.ingresar_texto{
    display:flex;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 39rem;
    height: 30rem;
    font-size: 1.5rem;
    resize: none;
    
    
}

.areaParaEncriptar_buttons{
    display: flex;
    flex-direction: column;
    width: 40rem ;
    height: 6rem;
}

.instrucciónes{
    width: 40rem;
    height: 1rem ;
    font-size: 0.7;
    text-align: center;
    color: #fff;
}

.container_buttons_encriptar_desencriptar{
    display: flex;
    width: 40rem;
    height: 3rem;
    justify-content: space-around;
}
.area_encriptar_buttons{
    width: 10rem;
    height: 3rem;
    background-color: #d1aa47;
    border: none;
    border-radius: 0.9rem;
    border-bottom: 0.2rem solid #b38206;
    padding: 0;
    font-size: 1rem;
    font-family: "Orbitron", sans-serif;
    color: #fff;
    font-weight: 700;
}
.area_encriptar_buttons:hover{
    background-color:#f3f2f2;
    border-bottom: solid #a1a1a1;
    color:#d1aa47;
}
.resultado{
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 45rem;
    justify-content: center;
    gap: 1rem;
    z-index: 1;
}

.imagen_sin_encriptar{
    display: flex;
    width: 20rem;
    height: 20rem;
    align-self: center;
    z-index: 2;
    position: relative;
    overflow: hidden;
    
}

.resultado_texto{
    display: flex;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 39rem;
    height: 30rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    align-self: center;
    resize: none;

}

.resultado_buttons{
    display: flex;
    justify-content: center;
    width: 40rem;
    height: 3rem;
    margin-top: 3rem;
}
.button_copiar{
    width: 10rem;
    height: 3rem;
    align-items: center;
    background-color: #d1aa47;
    border: none;
    border-radius: 0.9rem;
    border-bottom: 0.2rem solid #b38206;
    font-size: 1rem;
    font-family: "Orbitron", sans-serif;
    color: #fff;
    font-weight: 700;
    
}
.button_copiar:hover{
    background-color:#f3f2f2;
    border-bottom: solid #a1a1a1;
    color:#d1aa47;
}

.footer{
    display: flex;
    background-color: #363636;
    color: aliceblue;
    justify-content: center;
    width: 100%;
    height: 4rem;
    margin-top: 1.9rem;   
}

.autor{
    display: flex;
    width: 20rem;
    height: 4rem;
    font-size: 1.2rem;
    align-self: center;
    margin: 1rem;
    align-items: center;
    padding-top: 0.6rem;
}
.rss{
    display: flex;
    width: 40rem;
    height: 4rem ;
    font-size: 1rem;
    justify-content: space-around;
    background-color: #d1aa47;
    align-items: center;
}
.rss_github{
    display: flex;
    font-size: 1.2rem;
    gap: 0.4rem;
    align-items: flex-end;
    text-decoration: none;
    color: aliceblue
    
    
}
.ico-github{
    width: 2rem;
    height: 2rem;
    
}
.rss_linkedin{
    display: flex;
    font-size: 1.2rem;
    align-items: flex-end;
    text-decoration: none;
    color: aliceblue;
}
.ico-linkedin{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    transform: translateY(0.3rem);
}
.cc{
    display: flex;
    width: 30rem;
    height: 3rem;
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    align-items: center;
    gap: 1rem;
    text-align:end;
    margin-left: 1rem;

}
.cc_a{
    text-decoration: none;
    color: #fff;
    align-self: center;
    transform: translateY(-0.2rem);
}
@media (min-width:0px) and (max-width:360px){
    .titulo_container{
        width: 18rem;
        height: 2rem;
        margin-left: 2.5rem;
        margin-top: 0.5rem;
    }
    .titulo{
        font-size: 0.8rem;
        width: 100%;
        text-align: center;
        height: 2rem;
    }
    .icono_encriptador{
        width: 2.5rem;
        height: 2.5rem;
    }
    .container_area{
        flex-flow:wrap;
        width: 21.35rem;
        height: 20.75rem;
        margin: 0.5rem;
        gap: 0;
        transform:translateY(-3rem);
    }
    .container_encriptar{
        width: 20rem;
        height: 15rem;
        
        
    }
    .ingresar_texto{
        width: 17rem;
        height: 7rem;
        align-self: center;
        
        
    }
    .area_encriptar_buttons{
        width: 7rem;
        height: 2rem;
        font-size: 0.8rem;
    }
    .container_buttons_encriptar_desencriptar{
        width: 20rem;
        height: 3rem;
        
    }
    .instrucciónes{
        width: 20rem;
        height: 2rem;
        
    }
    .resultado{
        width: 20rem;
        height: 15rem;
        align-items: start;
    }
    .resultado_texto{
        width: 17rem;
        height: 7rem;
        align-self: center;
        transform: translateY(-3rem);
    }
    .imagen_sin_encriptar{
        width:7rem;
        height: 7rem;
        
    }
    .resultado_buttons{
        width: 20rem;
        height: 2rem;
        margin-top: 0;
        
    }
    .button_copiar{
        width: 7rem;
        height: 2rem;
        transform: translateY(-3.5rem);
    }
    .footer{
        width: 21.35rem;
        height: 2rem;
    }
    .autor{
        font-size: 0.5rem;
        width: 3rem;
        padding: 0;
    }
    .rss{
        width: 9rem;
        height: 2rem;
        justify-content: space-around;
    }
    .rss_github{
        
        font-size: 0.5rem;
    }
    .ico-github{
        width: 1rem;
        height: 1rem;
    }
    .rss_linkedin{
        
        font-size: 0.5rem;
        gap: 0.1rem;
        transform: translateY(-0.2rem);
    }
    .ico-linkedin{
        width: 1.3rem;
        height: 1.3rem;
        
    }
    .cc{
        font-size: 0.3rem;
        margin: 0;
        width: 7rem;
        height: 1.6rem;
        gap: 0.4rem;
    }
    .cc_a{

        width: 6rem;
        margin: 0;
        font-size: 0.3rem ;
        transform: translateY(0.6rem);
    }
    .cc .cc_a .ico-cc{
        width: 0.4rem;
        height: 0.4rem;
        
    }
}