@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kdam+Thmor+Pro&family=Monofett&family=Orbitron:wght@400..900&family=Stalinist+One&display=swap');
* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;   
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    border: 0;
}
.video-container{
    display: flex;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
}
.video-fondo{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.titulo_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 3rem;
}
.titulo {
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("./recursosUI/titulo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    border: none;
    border-bottom: solid 0.5rem #434ab152;
    border-radius: 0.2rem;
    padding: 0.5rem 2rem;
    text-shadow: #8400ff 0rem 0 1.7rem;
    overflow: hidden;
}

.icono_encriptador{
    width: 5rem ;
    height: 5rem;
    align-content: center;
    border-radius: 50%;
    zoom: 100%;
    
    
}
.container_area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 43.55rem;
    gap: 10rem;
}

.container_encriptar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40rem;
    height: 45rem;
}

.ingresar_texto{
    display:flex;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 39rem;
    height: 30rem;
    font-size: 1.5rem;
    resize: none;
    opacity: 0.7;
    border-radius: 20px;
    cursor:default ;
    background-color: #35A29F;
    box-shadow: -15px -10px 20px  #0B666A;
    border: solid 1px #0B666A;
    color: #F3F8FF;
}

.areaParaEncriptar_buttons{
    display: flex;
    flex-direction: column;
    width: 40rem ;
    height: 6rem;
}

.instrucci贸nes{
    width: 40rem;
    height: 1rem ;
    font-size: 0.7;
    text-align: center;
    color: #fff;
}

.container_buttons_encriptar_desencriptar{
    display: flex;
    width: 40rem;
    height: 3rem;
    justify-content: space-around;
}
.area_encriptar_buttons{
    width: 10rem;
    height: 3rem;
    background-color: #d1aa47;
    border: none;
    border-radius: 0.9rem;
    border-bottom: 0.2rem solid #b38206;
    padding: 0;
    font-size: 1rem;
    font-family: "Orbitron", sans-serif;
    color: #fff;
    font-weight: 700;
}
.area_encriptar_buttons:hover{
    background-color:#f3f2f2;
    border-bottom: solid #a1a1a1;
    color:#d1aa47;
}
.resultado{
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 45rem;
    justify-content: center;
    gap: 1rem;
    z-index: 1;
}

.imagen_sin_encriptar{
    display: flex;
    width: 25rem;
    height: 25rem;
    align-self: center;
    z-index: 2;
    position: relative;
    overflow: hidden;
    
}

.resultado_texto{
    display: flex;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 39rem;
    height: 30rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    align-self: center;
    resize: none;
    opacity: 0.7;
    border-radius: 20px;
    cursor:default ;
    background-color: #35A29F;
    box-shadow: 15px -10px 20px  #0B666A;
    border: solid 1px #0B666A;
    color: #F3F8FF;
}

.resultado_buttons{
    display: flex;
    justify-content: center;
    width: 40rem;
    height: 3rem;
    margin-top: 3rem;
}
.button_copiar{
    width: 10rem;
    height: 3rem;
    align-items: center;
    background-color: #d1aa47;
    border: none;
    border-radius: 0.9rem;
    border-bottom: 0.2rem solid #b38206;
    font-size: 1rem;
    font-family: "Orbitron", sans-serif;
    color: #fff;
    font-weight: 700;
    
}
.button_copiar:hover{
    background-color:#f3f2f2;
    border-bottom: solid #a1a1a1;
    color:#d1aa47;
}

.footer{
    display: flex;
    background-color: #363636;
    color: aliceblue;
    justify-content: center;
    width: 100%;
    height: 4rem;
    margin-top: 1.9rem;   
}

.autor{
    display: flex;
    width: 20rem;
    height: 4rem;
    font-size: 1.2rem;
    align-self: center;
    margin: 1rem;
    align-items: center;
    padding-top: 0.6rem;
}
.rss{
    display: flex;
    width: 40rem;
    height: 4rem ;
    font-size: 1rem;
    justify-content: space-around;
    background-color: #d1aa47;
    align-items: center;
}
.rss_github{
    display: flex;
    font-size: 1.2rem;
    gap: 0.4rem;
    align-items: flex-end;
    text-decoration: none;
    color: aliceblue
    
    
}
.ico-github{
    width: 2rem;
    height: 2rem;
    
}
.rss_linkedin{
    display: flex;
    font-size: 1.2rem;
    align-items: flex-end;
    text-decoration: none;
    color: aliceblue;
}
.ico-linkedin{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    transform: translateY(0.3rem);
}
.cc{
    display: flex;
    width: 30rem;
    height: 3rem;
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    align-items: center;
    gap: 1rem;
    text-align:end;
    margin-left: 1rem;

}
.cc_a{
    text-decoration: none;
    color: #fff;
    align-self: center;
    transform: translateY(-0.2rem);
}
@media (min-width:0px) and (max-width:360px){
    .video-container{
        z-index: -1;
        width: 45.3rem;
        height: 81rem;
    }
    .video-fondo{
        object-fit: cover;
        width: 45.3rem;
        height: 81rem;
    }
    .titulo_container{
        width: 40rem;
        height: 4rem;
        margin-left: 2.5rem;
        margin-top: 0.5rem;
    }
    .titulo{
        font-size: 2rem;
        width: 100%;
        text-align: center;
        height: 4rem;
    }
    .icono_encriptador{
        width: 4rem;
        height: 4rem;
    }
    .container_area{
        flex-flow:wrap;
        width: 45rem;
        height: 70rem;
        margin: 0.5rem;
        gap: 0;
        transform:translateY(-3rem);
    }
    .container_encriptar{
        width: 40rem;
        height: 20rem;
        
        
    }
    .ingresar_texto{
        width: 37rem;
        height: 20rem;
        align-self: center;
        
        
    }
    .area_encriptar_buttons{
        width: 10rem;
        height: 2rem;
        font-size: 0.8rem;
    }
    .container_buttons_encriptar_desencriptar{
        width: 40rem;
        height: 3rem;
        
    }
    .instrucci贸nes{
        width: 40rem;
        height: 2rem;
        
    }
    .resultado{
        width: 40rem;
        height: 20rem;
        align-items: start;
    }
    .resultado_texto{
        width: 37rem;
        height: 20rem;
        align-self: center;
        transform: translateY(-3rem);
    }
    .imagen_sin_encriptar{
        width:20rem;
        height: 25rem;
        
    }
    .resultado_buttons{
        width: 40rem;
        height: 2rem;
        margin-top: 0;
        
    }
    .button_copiar{
        width: 7rem;
        height: 2rem;
    }
    .footer{
        width: 45.3rem;
        height: 3rem;
    }
    .autor{
        font-size: 1rem;
        width: 13rem;
        padding: 0;
    }
    .rss{
        width: 15rem;
        height: 3rem;
        justify-content: space-around;
    }
    .rss_github{
        
        font-size: 1rem;
    }
    .ico-github{
        width: 2rem;
        height: 2rem;
    }
    .rss_linkedin{
        
        font-size: 1rem;
        gap: 0.1rem;
        transform: translateY(-0.2rem);
    }
    .ico-linkedin{
        width: 2.3rem;
        height: 2.3rem;
        
    }
    .cc{
        font-size: 0.6rem;
        margin: 0;
        width: 19rem;
        height: 1.9rem;
        gap: 0.4rem;
        margin-left: 0.5rem;
        text-align:start;
    }
    .cc_a{

        width: 6rem;
        margin: 0;
        font-size: 0.6rem ;
        transform: translateY(0.6rem);
    }
    .cc .cc_a .ico-cc{
        width: 1rem;
        height: 1rem;
    }
}

@media (min-width:361px) and (max-width:480px){
.titulo_container{
    width: 40rem;
    height: 4rem;
    margin-left: 2.5rem;
    margin-top: 2rem;
}
.titulo{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    height: 4rem;
}
.icono_encriptador{
    width: 4rem;
    height: 4rem;
}
.container_area{
    flex-flow:wrap;
    width: 45rem;
    height: 70rem;
    margin: 0.5rem;
    gap: 0;
    transform:translateY(-3rem);
}
.container_encriptar{
    width: 40rem;
    height: 25rem;
}
.ingresar_texto{
    width: 37rem;
    height: 25rem;
    align-self: center;
    
    
}
.area_encriptar_buttons{
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
}
.container_buttons_encriptar_desencriptar{
    width: 40rem;
    height: 3rem;
    
}
.instrucci贸nes{
    width: 40rem;
    height: 2rem;
    
}
.resultado{
    width: 40rem;
    height: 25rem;
    align-items: start;
}
.resultado_texto{
    width: 37rem;
    height: 25rem;
    align-self: center;
    transform: translateY(-3rem);
}
.imagen_sin_encriptar{
    width:30rem;
    height: 35rem;
    
}
.resultado_buttons{
    width: 40rem;
    height: 2rem;
    margin-top: 0;
    
}
.button_copiar{
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
}
.footer{
    width: 45.3rem;
    height: 3.8rem;
}
.autor{
    font-size: 1rem;
    width: 13rem;
    padding: 0;
}
.rss{
    width: 15rem;
    height: 3.8rem;
    justify-content: space-around;
}
.rss_github{
    
    font-size: 1rem;
}
.ico-github{
    width: 2rem;
    height: 2rem;
}
.rss_linkedin{
    
    font-size: 1rem;
    gap: 0.1rem;
    transform: translateY(-0.2rem);
}
.ico-linkedin{
    width: 2.3rem;
    height: 2.3rem;
    
}
.cc{
    font-size: 0.6rem;
    margin: 0;
    width: 19rem;
    height: 1.9rem;
    gap: 0.4rem;
    margin-left: 0.5rem;
    text-align:start;
}
.cc_a{

    width: 6rem;
    margin: 0;
    font-size: 0.6rem ;
    transform: translateY(0.6rem);
}
.cc .cc_a .ico-cc{
    width: 1rem;
    height: 1rem;
}
}
@media (min-width:481px) and (max-width:768px)
{
    .titulo_container{
        width: 40rem;
        height: 1.5rem;
        margin-left: 2.5rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
    .titulo{
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        height: 3rem;
    }
    .icono_encriptador{
        width: 4rem;
        height: 4rem;
    }
    .container_area{
        flex-flow:wrap;
        width: 36rem;
        height: 34rem;
        margin: 0.5rem;
        gap: 0;
        transform:translateY(-3rem);
    }
    .container_encriptar{
        width: 25rem;
        height: 15rem; 
    }
    .ingresar_texto{
        width: 25rem;
        height: 15rem;
        align-self: center;
    }
    .area_encriptar_buttons{
        width: 7rem;
        height: 3rem;
        font-size: 0.8rem;
    }
    .container_buttons_encriptar_desencriptar{
        width: 25rem;
        height: 2rem; 
    }
    .instrucci贸nes{
        width: 25rem;
        height: 2rem;
    }
    .resultado{
        width: 25rem;
        height: 15rem;
        align-items: start;
    }
    .resultado_texto{
        width: 25rem;
        height: 15rem;
        align-self: center;
    }
    .imagen_sin_encriptar{
        width:13rem;
        height:13rem;
        transform: translateY(1.5rem);
    }
    .resultado_buttons{
        width: 25rem;
        height: 2rem;
        margin-top: 0;
    }
    .button_copiar{
        width: 5rem;
        height: 3rem;
        font-size: 0.8rem;
    }
    .footer{
        width: 49rem;
        height: 2rem;
    }
    .autor{
        font-size: 0.6rem;
        width: 7rem;
        padding: 0;
        height: 2rem;
        transform: translateX(-1rem);
    }
    .rss{
        width: 23rem;
        height: 2rem;
        justify-content: space-around;
    }
    .rss_github{
        
        font-size: 0.7em;
    }
    .ico-github{
        width: 1rem;
        height: 1rem;
    }
    .rss_linkedin{ 
        font-size: 0.7rem;
        gap: 0.1rem;
        transform: translateY(-0.18rem);
    }
    .ico-linkedin{
        width: 1.3rem;
        height: 1.3rem;
    }
    .cc{
        font-size: 0.5rem;
        margin: 0;
        width: 10rem;
        height: 1.6rem;
        gap: 0.4rem;
    }
    .cc_a{
        flex-wrap: wrap;
        width: 10rem;
        margin: 0;
        font-size: 0.5rem;
        transform: translateY(0.5rem);
    }
    .cc .cc_a .ico-cc{
        width: 0.5rem;
        height: 0.5rem;
        transform: translateY(-0.3rem);
    }
}